

<html>

<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body> 

<div class="nav1">  

 

  <h2 class="cen" id="center">  

 

    <a routerLink="/restaurant-home">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to FoodieDelivery</a>  

 

  </h2>  
 
 <a  routerLink="" class="homepage-btn">Homepage</a>&nbsp;

  <a class="signin" routerLink="/restaurant-signin">Sign In</a>  

 

</div>  

 

 

<!-- Main Container -->  

 

<div class="container">  

 

  <a routerLink="/add-restaurant" class="content" id="register" class="cen-con btn" style="background-color:rgb(73, 205, 238);">Register Your Restaurant</a>  

 

</div>  

 

</body> 

<h2 class="cen"><i> Perks of partnering with us</i></h2> 

<div class="partner"> 

 

 

    <div  > 
      
<i class="fa-solid fa-user" id="icons"></i><br>
        increase customers 

    </div> 

 

 

    <div> 
<i class="fa-solid fa-door-closed" id="icondoor"></i><br>
        get the food delivered by our delivery partners 

    </div> 

 

    <div> 


<i class="fa-solid fa-phone"></i>
     support from our side 

     <br>
     <span id="mail">FoodieDelivery@gmail.com </span>

    </div> 

 

 

 

 

</div> 
<hr class="hr">
